*{
	margin: 0;
	padding: 0;
}
body{
	background-color: red;	
    overflow: hidden;
}
.gameContainer{	
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 233px;
    height: 149px;
    position: absolute;
    bottom: 0;
    left: 10px;
}
.obstacle{
    background-image: url(drago.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 133px; 
    position: absolute;   
    bottom: 0;
    left: 70vw;
}

.animateDino{
    animation: dino 0.9s linear;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;        
    }
}
.obstacleAni{
animation: obstacleAni 6s linear infinite;
}

.gameover{
    position: relative;
    top: 10px;
    font-size: 40px;
    text-align: center;
    font-style: oblique;    
    font-family:'Ubuntu',sans-serif;
    padding: 30px;
}
    #scoreCont{
    color: purple;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 11px;
    font-family: 'Ubuntu',sans-serif;   
    font-style: oblique;
}   

@keyframes obstacleAni{
 0%{
        left: 100vw;
    }
    
    100%{
        left: -10vw;        
    }
}